@{
    Layout = "~/Views/Shared/_LayoutDashboard2.cshtml";
    var name = ViewBag.AdminName;
}
@model Tuple<IEnumerable<FirstProject.Models.Home>, IEnumerable<FirstProject.Models.Contactu>, IEnumerable<FirstProject.Models.Aboutu>>


<div>
    <canvas id="myChart"></canvas>
</div>

<div class="container">

    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Users</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-success">@ViewBag.NumberOfUsers</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Testmonials</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash2">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-purple">@ViewBag.testmonials</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Booked Room</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash3">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto">
                        <span class="counter text-info">@ViewBag.countBook</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Unbooked Room</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash3">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto">
                        <span class="counter text-info">@ViewBag.countNotBook</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var x = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.Categ))
                  var y = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.pr))
                  const data = {
            labels: x,
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(248,142,54)',
                borderColor: 'rgb(255, 99, 132)',
                data: y,
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {}
        };
    </script>
    <script>
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
